
/* Style the tab */
.editor_tab {
    overflow: hidden;
    border: 1px solid #f1eaea;
    background-color: #f5f5f5;;
}


/* Style the buttons inside the tab */
.editor_tab a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  display: inline-block;
  text-decoration: none
}

/* Change background color of buttons on hover */
.editor_tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.editor_tab a.active {
    background-color: #1b7cba;
    color: #fff;
    border-bottom: 3px solid #efe034;
    box-sizing: border-box;

}

/* Style the tab content */
.editor_tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

textarea{
  width:100%;
  min-height: 300px;
  border:none;
  resize: none;
}